* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: "Open Sans", sans-serif; color: #5A7184; }

@font-face { font-family: "HK Grotesk"; src: url("../fonts/HKGrotesk-Bold.woff") format("woff"); font-style: normal; font-weight: bold; font-display: swap; }

@font-face { font-family: "HK Grotesk"; src: url("../fonts/HKGrotesk-Bold.woff2") format("woff2"); font-style: normal; font-weight: bold; font-display: swap; }

.navbar-container { padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; max-width: 1140px; margin: 36px 150px 72px; }

.navbar-menu { display: -webkit-box; display: -ms-flexbox; display: flex; }

.navbar-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 594px; list-style-type: none; margin: 0; }

.navbar-list__link { text-decoration: none; font-style: normal; font-weight: 600; font-size: 16px; line-height: 22px; color: #183B56; }

.navbar-list__button { font-style: normal; font-weight: 600; font-size: 16px; line-height: 22px; background-color: #ffffff; color: #1565D8; border-radius: 8px; border: 2px solid #1565D8; }

.navbar__menu-button { display: none; }

.main { max-width: 1280px; margin: 0 80px; position: relative; background-color: #E8EAE9; background-image: url(../img/bg-image.jpg); border-radius: 8px; }

.main-container { display: -webkit-box; display: -ms-flexbox; display: flex; max-width: 652px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-left: 107px; }

.main-hashtag { width: 175px; height: 32px; background-color: rgba(14, 199, 122, 0.1); border-radius: 2000px; padding: 6px 16px; margin-top: 62px; margin-bottom: 28px; }

.main-hashtag__text { font-style: normal; font-weight: 600; font-size: 14px; line-height: 20px; color: #36B37E; text-transform: uppercase; }

.main__title { max-height: 204px; width: 474px; color: #183B56; font-family: HK Grotesk; font-style: normal; font-weight: bold; font-size: 56px; line-height: 68px; margin: 0 0 28px 0; }

.main__paragraph { font-style: normal; font-weight: normal; font-size: 20px; line-height: 36px; width: 580px; margin: 0 0 52px 0; }

.main__button { background-color: #183B56; color: #FFFFFF; height: 56px; width: 233px; padding: 15px 24px; font-style: normal; font-weight: bold; font-size: 18px; line-height: 25px; border-radius: 8px; border: none; outline: 0; margin-bottom: 48px; }

.main-group { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; max-width: 447px; margin-bottom: 46px; }

.main-group__icon { width: 36px; height: 36px; border: 0.75px solid #1565D8; border-radius: 12px; margin-right: 8px; }

.main-group__donate { height: 16px; width: 17px; margin: 9.92px 9.49px; }

.main-group__shield { margin: 9.18px 10.02px; }

.main-group__hand { width: 21px; height: 21px; margin: 7.5px 7.5px; }

.main-group__span { font-family: HK Grotesk; font-style: normal; font-weight: 600; font-size: 16px; line-height: 20px; color: #183B56; }

.main-icon { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media (max-width: 1200px) { .main { background: url(../img/bg-image.jpg); background-position: center center; background-size: cover; max-width: 1120px; } }

@media (max-width: 992px) { .navbar-container { margin: 36px 140px 50px; }
  .navbar-menu { width: 450px; }
  .navbar-list__link, .navbar-list__button { font-size: 12px; line-height: 18px; }
  .main { max-width: 892px; margin: 0 50px; }
  .main-container { margin-left: 50px; } }

@media (max-width: 768px) { .menu-button { width: 24px; height: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border: none; outline: 0; background-color: #ffffff; cursor: pointer; padding: 0; margin: 0; }
  .menu-button__line { height: 2.2px; width: 24px; background-color: #3A4C66; border-radius: 1px; }
  .navbar-menu { display: none; }
  .navbar-container { max-width: 650px; padding: 0; margin: 26px 59px 48px; }
  .main { max-width: 728px; margin: 0 20px; }
  .main-container { padding: 36px 0 0 28px; margin: 0; }
  .main-hashtag { margin: 0 0 24px 0; }
  .main__title { font-size: 48px; line-height: 60px; width: 407px; margin-bottom: 20px; }
  .main__paragraph { width: 400px; font-size: 18px; line-height: 32px; margin-bottom: 36px; }
  .main-group { margin-bottom: 36px; } }

@media (max-width: 690px) { .navbar-container { margin: 20px 59px 30px; }
  .main { max-width: 650px; background-position: 70% center; margin: 0 20px; }
  .main__title { font-size: 42px; line-height: 50px; width: 350px; }
  .main__paragraph { width: 380px; font-size: 18px; line-height: 32px; margin-bottom: 36px; } }

@media (max-width: 576px) { .main { background-position: 70% center; margin: 0 20px; }
  .main__title { font-size: 30px; line-height: 38px; width: 270px; margin-bottom: 20px; }
  .main__paragraph { width: 280px; font-size: 16px; line-height: 28px; margin-bottom: 24px; }
  .main__button { margin-bottom: 40px; }
  .main-group { max-width: 400px; } }

@media (min-width: 320px) and (max-width: 480px) { .navbar-container { margin: 20px 24px 42px; }
  .main { background-position: 78% 0%; height: 899px; margin: 0; border-radius: 0; }
  .main-container { padding-top: 381px; padding-left: 20px; }
  .main__title { font-size: 32px; line-height: 40px; width: 270px; margin-bottom: 20px; }
  .main__paragraph { width: 280px; font-size: 16px; line-height: 28px; margin-bottom: 24px; }
  .main__button { height: 48px; margin: 0 43px 22px 24px; font-size: 16px; line-height: 22px; }
  .main-group { width: 90%; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; margin: 0 0 20px 10px; }
  .main-group__icon { height: 24px; width: 24px; border-radius: 8px; border: 0.5px solid #1565D8; }
  .main-group__donate { width: 11.34px; height: 11.58px; margin: 6.68px 6.54px; }
  .main-group__shield { width: 10.64px; height: 11.76px; margin: 6.12px 6.68px; }
  .main-group__hand { width: 13.42px; height: 14px; margin: 5px 4.79px; }
  .main-icon { margin-bottom: 16px; }
  .main-hashtag { height: 24px; margin: 0 42px 20px; } }
/*# sourceMappingURL=style.css.map */