@media (max-width: 1200px)
  .main
    background: url(../img/bg-image.jpg)
    background-position: center center
    background-size: cover
    max-width: 1120px

@media (max-width: 992px)
  .navbar
    &-container
      margin: 36px 140px 50px
    &-menu
      width: 450px
    &-list
      &__link, &__button
        font-size: 12px
        line-height: 18px
  .main
    max-width: 892px
    margin: 0 50px
    &-container
      margin-left: 50px

@media (max-width: 768px)
  .menu
    &-button
      width: 24px
      height: 24px
      display: flex
      flex-direction: column
      justify-content: space-around
      align-items: center
      border: none
      outline: 0
      background-color: #ffffff
      cursor: pointer
      padding: 0
      margin: 0
      &__line 
        height: 2.2px
        width: 24px
        background-color: #3A4C66
        border-radius: 1px
  .navbar
    &-menu
      display: none
    &-container
      max-width: 650px
      padding: 0
      margin: 26px 59px 48px
  .main
    max-width: 728px
    margin: 0 20px
    &-container
      padding: 36px 0 0 28px 
      margin: 0
    &-hashtag
      margin: 0 0 24px 0
    &__title
      font-size: 48px
      line-height: 60px
      width: 407px
      margin-bottom: 20px
    &__paragraph
      width: 400px
      font-size: 18px
      line-height: 32px
      margin-bottom: 36px
    &-group
      margin-bottom: 36px

@media (max-width: 690px)
  .navbar
    &-container
      margin: 20px 59px 30px
  .main
    max-width: 650px
    background-position: 70% center
    margin: 0 20px
    &__title
      font-size: 42px
      line-height: 50px
      width: 350px
    &__paragraph
      width: 380px
      font-size: 18px
      line-height: 32px
      margin-bottom: 36px

@media (max-width: 576px)
  .main
    background-position: 70% center
    margin: 0 20px
    &__title
      font-size: 30px
      line-height: 38px
      width: 270px
      margin-bottom: 20px
    &__paragraph
      width: 280px
      font-size: 16px
      line-height: 28px
      margin-bottom: 24px
    &__button
      margin-bottom: 40px
    &-group
      max-width: 400px

@media (min-width: 320px) and (max-width: 480px)
  .navbar
    &-container
      margin: 20px 24px 42px
  .main
    background-position: 78% 0%
    height: 899px
    margin: 0
    border-radius: 0
    &-container
      padding-top: 381px
      padding-left: 20px
    &__title
      font-size: 32px
      line-height: 40px
      width: 270px
      margin-bottom: 20px
    &__paragraph
      width: 280px
      font-size: 16px
      line-height: 28px
      margin-bottom: 24px
    &__button
      height: 48px
      margin: 0 43px 22px 24px
      font-size: 16px
      line-height: 22px
    &-group
      width: 90%
      flex-wrap: wrap
      align-items: center
      justify-content: space-around
      margin: 0 0 20px 10px
      &__icon
        height: 24px
        width: 24px
        border-radius: 8px
        border: 0.5px solid #1565D8
      &__donate
        width: 11.34px
        height: 11.58px
        margin: 6.68px 6.54px
      &__shield
        width: 10.64px
        height: 11.76px
        margin: 6.12px 6.68px
      &__hand
        width: 13.42px
        height: 14px
        margin: 5px 4.79px
    &-icon
      margin-bottom: 16px
    &-hashtag
      height: 24px
      margin: 0 42px 20px
      

    
