@media (max-width: 992px)
  .navbar
    &-container
      margin: 36px 140px 50px
    &-menu
      width: 450px
    &-list
      &__link, &__button
        font-size: 12px
        line-height: 18px
@media (max-width: 768px)
  .menu
    &-button
      width: 24px
      height: 24px
      display: flex
      flex-direction: column
      justify-content: space-around
      align-items: center
      border: none
      outline: 0
      background-color: #ffffff
      cursor: pointer
      padding: 0
      margin: 0
      &__line 
        height: 2.2px
        width: 24px
        background-color: #3A4C66
        border-radius: 1px
  .navbar
    &-menu
      display: none
    &-container
      max-width: 650px
      padding: 0
      margin: 26px 59px 48px
  .main
    max-width: 728px
    margin: 0 20px
    &-container
      padding: 36px 0 0 28px 
      margin: 0
    &-hashtag
      margin: 0 0 24px 0
    &__title
      font-size: 48px
      line-height: 60px
      width: 407px
      margin-bottom: 20px
    &__paragraph
      width: 400px
      font-size: 18px
      line-height: 32px
      margin-bottom: 36px
    &-group
      margin-bottom: 36px
    
