.navbar
  &-container
    padding: 0
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 1140px
    margin: 36px 150px 72px
  &-menu
    display: flex
  &-list
    display: flex
    justify-content: space-between
    align-items: center
    width: 594px
    list-style-type: none
    margin: 0
    &__link
      text-decoration: none
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: #183B56
    &__button
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      background-color: #ffffff
      color: #1565D8
      border-radius: 8px
      border: 2px solid #1565D8
  &__menu
    &-button
      display: none

    
